.itscool__slide {
  min-height: 300px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    // width: 50px;
    // height: 50px;
    // top: 10px;
    left: 50%;
    // line-height: 80px;
    transform: translateX(-50%);
    background-position: center center;
    // background-size: 50px auto;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-size: auto 80px;
    background-repeat: no-repeat;
  }

  @for $i from 1 through 7 {
    &--#{$i} {
      &::before {
        content: "#{$i}";
        color: $cl-grey-light;
        font-size: 190px;
        line-height: 150%;
        font-weight: 700;
      }

      &::after {
        content: "";
        color: $cl-grey-light;
        font-size: 190px;
        line-height: 150%;
        font-weight: 700;
        background-image: url("../img/slider_01_0#{$i}.svg");

        @if $i == 2 {
          background-size: 45px auto;
        }
      }
    }
  }
}
