.screen {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(mobile) {
    min-height: auto;
    height: 100vh;
  }
}

.screen__wrapper {
  max-width: 900px;
  margin: 0 auto;

  &--main {
    max-width: 1200px;
  }
}
