.scroll-down {
  background-image: url("../img/scroll_down.svg");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 22px;
  height: 43px;
  border: 0;
  box-shadow: 0;
  outline: none;
  cursor: pointer;
  background-color: $cl-white;
  margin: 0;
  padding: 0;
}
