@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/circe/Circe-Regular.eot"); /* IE9 Compat Modes */
  src: local("Circe"),
    local("Circe-Regular"),
    url("../fonts/circe/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/circe/Circe-Regular.woff") format("woff"),
    url("../fonts/circe/Circe-Regular.ttf") format("truetype"),
    url("../fonts/circe/Circe-Regular.svg#Circe") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Circe-Bold.eot"); /* IE9 Compat Modes */
  src: local("Circe Bold"),
    local("Circe-Bold"),
    url("../fonts/circe/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/circe/Circe-Bold.woff") format("woff"),
    url("../fonts/circe/Circe-Bold.ttf") format("truetype"),
    url("../fonts/circe/Circe-Bold.svg#Circe") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/circe/Circe-Light.eot"); /* IE9 Compat Modes */
  src: local("Circe Light"),
    local("Circe-Light"),
    url("../fonts/circe/Circe-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/circe/Circe-Light.woff") format("woff"),
    url("../fonts/circe/Circe-Light.ttf") format("truetype"),
    url("../fonts/circe/Circe-Light.svg#Circe") format("svg");
}
