@font-face {
  font-display: swap;
  font-family: "Muller";
  src: url("../fonts/MULLERREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Muller";
  src: url("../fonts/MULLERBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Muller";
  src: url("../fonts/MULLERLIGHT.OTF") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Muller";
  src: url("../fonts/MULLERMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url("../fonts/MONTSERRAT-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url("../fonts/MONTSERRAT-EXTRABOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url("../fonts/MONTSERRAT-BOLD.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src: url("../fonts/MONTSERRAT-MEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

