body {
  font-family: "Circe", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 19px;
  line-height: 30px;
  min-width: 320px;
  padding: 0;
  color: $cl-grey;
  background-color: $cl-white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
