body {
  font-family: "Muller", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 20px;
  line-height: 150%;
  min-width: 414px;
  padding: 0;
  color: $cl-black;
  background-color: $cl-white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
