$breakpoints: (
  mobile: 768px,
  tablet: 992px,
  desktop: 1440px,
);

$mobile-width: map-get($breakpoints, mobile);
$tablet-width: map-get($breakpoints, tablet);
$desktop-width: map-get($breakpoints, desktop);

$mobile: map-get($breakpoints, mobile);
$tablet: map-get($breakpoints, tablet);
$desktop: map-get($breakpoints, desktop);

$cl-grey: #c4c4c4;
$cl-grey-light: #e2e2e2;
$cl-white: #ffffff;
$cl-red: #eb4b46;
$cl-red-red: #ff0000;
$cl-black: #000000;


@import "normalize";
@import "mixin.scss";
@import "fonts.scss";
@import "global.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/embed-responsive.scss";
@import "blocks/screen.scss";
@import "blocks/scroll-down.scss";
@import "blocks/hero.scss";
@import "blocks/screen-header.scss";
@import "blocks/square-list.scss";
@import "blocks/lead.scss";
@import "blocks/whoami.scss";
@import "blocks/whatsaboutlongread.scss";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "blocks/slick-custom.scss";
@import "blocks/itscool.scss";
@import "blocks/ourpath.scss";
@import "blocks/destroy.scss";
@import "blocks/hereswhatgot.scss";
@import "blocks/black.scss";
@import "blocks/itsexpensive.scss";
@import "blocks/attheend.scss";
@import "blocks/contacts.scss";
